fastapi
uvicorn
mysql-connector-python
pydantic
pydantic-settings
chromadb
ollama
python-docx
PyPDF2
python-dotenv
passlib
pyjwt
aiofiles
streamlit
requests
langgraph
langchain-ollama
nest-asyncio
langchain-mcp-adapters
langchain-text-splitters
pandas
openpyxl
bcrypt
python-pptx
playwright
fpdf2
Pillow
psycopg2-binary
